<footer class="footer wrapper">
  <div class="footer__">
    <nav class="footer__symbol animation">
      <a class="footer__symbol--nav" href="./index.html#hero__title">
        <img class="footer__symbol--img" src="./assets/images/ico-arrow.svg" />
      </a>
    </nav>
    <nav class="navigator">
      <ul class="footer-menu">
        <li>
          <a href="https://adalab.es/">ARTICLES</a>
        </li>
        <li>
          <a href="https://adalab.es/">BOOKS</a>
        </li>
        <li>
          <a href="https://adalab.es/">EVENTS</a>
        </li>
        <li>
          <a href="https://adalab.es/">REASONS</a>
        </li>
        <li>
          <a href="https://adalab.es/">TIPS</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="contactWebs">
    <nav>
      <ul class="footer-menu">
        <li>
          <a href="https://adalab.es/">TWITTER</a>
        </li>
        <li>
          <a href="https://adalab.es/">INSTAGRAM</a>
        </li>
        <li>
          <a href="https://adalab.es/">MASTODON.SOCIAL</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="copy">
    <span class="copy__text">&copy;2017</span>
    <span class="copy__text"
      >we<span class="copy__icon">❤︎</span>components
    </span>
  </div>
</footer>
