<main class="main">
  <section class="description">
    <div class="description__section">
      <p>
        <small class="description__note"> insomnia tips</small>
      </p>
      <h2>looking through a window</h2>
      <p>
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. vivamus semper sodales rutrum
      </p>
      <nav class="description__button">
        <ul class="actions">
          <li class="action">
            <a href="#" class="button" title="go">Go</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="articles">
    <h3>3 Reasons To Purchase</h3>
    <article class="articles__1">
      <h4>Ut sed metus</h4>
      <p>
        Lorem ipsun dolor sit amet, consecteur.
      </p>
    </article>
    <article class="articles__2">
      <h5>Curabitur ac erat</h5>
      <p>
        Mauris matis urna quis lorem molestie
      </p>
    </article>
    <article class="articles__3">
      <h5>Morbi dictum</h5>
      <p>
        Aliquam in dolor et dolor tincidunt
      </p>
    </article>
    <nav class="articles__button">
      <ul class="actions">
        <li class="action">
          <a href="#" class="button" title="reasons button">More reasons</a>
        </li>
      </ul>
    </nav>
  </section>
</main>
