<main class="wrapper">
  <section class="principalSection">
    <div class="description">
      <p class="description__note">
        <small> insomnia tips</small>
      </p>
      <span class="description__title"> looking through a</span>
      <span class="description__title">window</span>
      <p class="description__text">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. vivamus semper sodales rutrum
      </p>
      <button class="description__button" href="" type="button" title="go">
        Go
      </button>
    </div>
  </section>
  <section class="articles">
    <h2 class="articles__titlePrincipal" id="articlesTitle">
      3 Reasons To Purchase
    </h2>
    <include
      class="articles__item"
      src="./reasons.html"
      title="Ut sed metus"
      text="Lorem ipsun dolor sit amet, consecteur"
    >
    </include>
    <include
      class="articles__item"
      src="./reasons.html"
      title="Curabitur ac erat"
      text="Mauris matis urna quis lorem molestie"
    >
    </include>
    <include
      class="articles__item"
      src="./reasons.html"
      title="Morbi dictum"
      text="Aliquam in dolor et dolor tincidunt"
    >
    </include>
    <nav class="articles__button">
      <button class="articles__button--action" aria-label="Click to nav">
        More reasons
      </button>
    </nav>
  </section>
</main>
