// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;

// colors
$color-primary: #ffffff;
$color-secondary: #eff9ff;
$color-blue: #304268;
$color-darkFont: #000000;
$color-greyFont: #4a4a4a;
$color-smallFont: #8ccbea;
$color-button: #f26002;

// measurements
$margin-principal: 15px;
$margin-elements: 30px;
