.footer {
  background-color: $color-blue;
  font-family: $font-main;
  line-height: 25px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 0;
  }

  a {
    color: $color-primary;
  }
  li {
    padding: 8px;
  }
}

.contactWebs {
  padding-top: $margin-elements;
  padding-bottom: $margin-elements;

  @media all and (min-width: 768px) {
    order: 3;
    padding-top: 50px;
  }
}

.copy {
  font-size: 14px;
  display: flex;
  flex-direction: column;

  &__icon {
    color: $color-button;
    padding: 1px;
    margin: 2px;
  }

  &__text {
    color: $color-primary;
    margin-top: $margin-principal;
  }

  @media all and (min-width: 768px) {
    order: -1;
    padding-top: 50px;
  }
}

.footer__symbol {
  background-color: $color-primary;
  width: 50px;
  height: 50px;
  padding-top: $margin-principal;
  border-radius: 50%;
  position: relative;
  transform: translate(360%, -175%);

  @media all and (min-width: 768px) {
    padding: 13px;
    transform: translate(100%, -50%);
  }
}
