.footer {
  background-color: $color-blue;
  font-family: $font-main;
  padding-top: 3.75em;
  padding-bottom: 3.75em;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    padding-left: 2.4375em;
    padding-right: 2.4375em;
    padding-top: 0;
  }

  a {
    color: $color-primary;
  }
  li {
    padding: 0.5em;
  }
}

.contactWebs {
  padding-top: $margin-elements;
  padding-bottom: $margin-elements;

  @media all and (min-width: 768px) {
    order: 3;
    padding-top: 3.125em;
    margin-right: $margin-elements;
  }
}

.copy {
  font-size: 0.875em;
  display: flex;
  flex-direction: column;

  &__icon {
    color: $color-button;
    padding: 0.0625em;
    margin: 0.125em;
  }

  &__text {
    color: $color-primary;
    margin-top: $margin-principal;
  }

  @media all and (min-width: 768px) {
    order: -1;
    padding-top: 3.125em;
  }
}

.footer__symbol {
  background-color: $color-primary;
  width: 3.125em;
  height: 3.125em;
  padding-top: $margin-principal;
  border-radius: 50%;
  position: relative;
  transform: translate(360%, -175%);

  @media all and (min-width: 768px) {
    padding: 0.8125em;
    transform: translate(100%, -50%);
  }
}

.animation {
  animation-duration: 3s;
  animation-name: intro;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes intro {
  from {
    transform: translate(-1200%, -50%);
  }
  to {
    transform: translate(0%, -50%);
  }
}

@media all and (min-width: 1280px) {
  .footer {
    padding-left: 23.125em;
    padding-right: 23.125em;
  }
}
