.footer {
  background-color: $color-blue;
  font-family: $font-main;
  line-height: 25px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    padding-left: 39px;
    padding-right: 39px;
  }

  a {
    color: $color-primary;
  }
  li {
    padding: 8px;
  }
}

.contactWebs {
  padding-top: $margin-elements;
  padding-bottom: $margin-elements;

  @media all and (min-width: 768px) {
    order: 3;
  }
}

.copy {
  font-size: 14px;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    order: -1;
  }

  span {
    color: $color-primary;
    margin-top: $margin-principal;
  }
  .icon {
    color: $color-button;
    padding: 1px;
    margin: 2px;
  }
}
