.hero {
  border: 1px solid blue;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/images/cover.jpg");

  &__title {
    font-family: $font-main;
  }
}
