.hero {
  border: 1px solid blue;
  background-image: url ("./assets/images/cover.jpg");

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
