.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media all and (min-width: 768px) {
    height: 768px;
  }

  &__title {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 384px;

    h1 {
      margin: 0;
      text-transform: uppercase;
      font-family: $font-titles;
      font-size: 2.625em;
      font-weight: bold;
      font-stretch: 1.25em;
      line-height: 54px;

      @media all and (min-width: 768px) {
        font-size: 5em;
        line-height: 106px;
      }
      @media all and (min-width: 1280px) {
        font-size: 6.25em;
        line-height: 120px;
      }
    }
    p {
      margin-top: 20px;
      font-family: $font-main;

      @media all and (min-width: 768px) {
        font-size: 1.5em;
      }
    }
  }
}

.hero__symbol {
  background-color: $color-primary;
  width: 50px;
  height: 50px;
  padding: $margin-principal;
  border-radius: 50%;
  position: relative;
  transform: translate(300%, 80%);

  @media all and (min-width: 411px) {
    transform: translate(350%, 200%);
  }

  @media all and (min-width: 768px) {
    transform: translate(710%, 80%);
  }
  @media all and (min-width: 1280px) {
    transform: translate(1280%, 30%);
  }
}
