.principalSection {
  margin-top: $margin-elements;

  @media all and (min-width: 1280px) {
    padding-left: 275px;
    padding-right: 275px;
  }
}

.description {
  margin: $margin-principal;
  text-align: left;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 768px) {
    display: inline-block;
    margin-left: 39px;
    margin-right: 39px;
  }

  &__note {
    color: $color-smallFont;
    text-transform: capitalize;
    padding-bottom: 5px;

    @media all and (min-width: 1280px) {
      font-size: 1em;
    }
  }

  &__title {
    font-family: $font-titles;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;

    @media all and (min-width: 768px) {
      font-size: 1.625em;
    }
    @media all and (min-width: 1280px) {
      font-size: 2em;
      line-height: 45px;
    }
  }

  &__text {
    font-family: $font-main;
    font-size: 1.125em;
    font-weight: semibold;
    line-height: 1.6;
    color: $color-greyFont;
    margin-bottom: $margin-elements;
    margin-top: $margin-principal;
  }

  &__button {
    border: 2px solid $color-button;
    width: 91px;
    height: 45px;
    padding: 8px;
    text-align: center;
    margin-bottom: $margin-elements;
    border-radius: 25px;
    font-family: $font-titles;
    color: $color-button;
    font-size: 1.25em;
    &:hover {
      background-color: $color-button;
    }
  }
}

.articles {
  background-color: $color-secondary;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 110px 125px 125px 125px 180px;
  padding: $margin-elements;

  @media all and (min-width: 768px) {
    grid-template-rows: 105px 167px 125px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media all and (min-width: 1280px) {
    padding-left: 85px;
    padding-right: 85px;
  }

  &__titlePrincipal {
    text-align: center;
    font-family: $font-titles;
    font-size: 1.5em;
    margin-top: $margin-elements;
    grid-column: span 1;
    @media all and (min-width: 768px) {
      grid-column: 1/4;
      font-size: 1.625em;
    }
  }
}

.articles__button {
  text-align: center;
  grid-column: 1/4;

  @media all and (min-width: 768px) {
    grid-column: span 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  &--action {
    width: 210px;
    height: 45px;
    margin-top: $margin-principal;
    background-color: $color-button;
    border-style: none;
    color: $color-primary;
    font-family: $font-main;
    font-size: 1.25em;
    border-radius: 25px;
    &:hover {
      color: black;
      font: bold 1.25em $font-titles;
      text-transform: uppercase;
      height: 60px;
      &:active {
        color: $color-blue;
      }
    }
  }
}
